@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Nerko+One&family=Noto+Sans+KR:wght@100..900&display=swap');

img{
    width: 740px;
}
body{
    background-color: rgb(173, 118, 126);
    color: white;
    font-family: "Noto Sans KR", sans-serif;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;
    border: double 5px rgb(160, 12, 37);
}

h1{
    padding: 0;
}

li p{
    font-size: 18px;
}